header h1 {
    text-align: center;
    margin: 0;
    font-size: 200%;
}
h2{
    text-align: center;
    margin:0;
    font-size: 175%;

}
h3{
    font-size: 150%;
    color:white;
}
p{
    color: white;
}

#content {
    width: 60%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.32);
    margin: 0 auto;
    padding-top: 0;
    padding-left: 3%;
    padding-right: 3%;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

}

nav ul {
    border-top: double 3px;
    color: black;
    text-align: center;
    border-bottom: double 3px;
    list-style-type: none;
}

nav li a:hover {
    color: rgba(21, 82, 177, 0.91);
    background-color: rgba(0,0,0,0.15);
}

li a:hover{
    color: rgba(21, 82, 177, 0.91);
}
nav li a{
    padding:10px 12px;
}

a {
    text-decoration: none;
    color: white;
}

nav ul li {
    padding: 10px;
    display: inline-block;
}

footer {
    height: 10%;
    width: 62.5%;
    background-color: rgba(0, 0, 0, 0.42);
    margin: 0 auto;
    position: relative;
    bottom: 5px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

label {
    display: inline-block;
    color:white;
}

form{
    padding-left: 40%;
    width: 22%;
    margin-top: 2vh;
}

.sumbit{
    position: relative;
    top: 6px;
}

body{
    margin: 0;
    background: url("http://www.eslevents.nl/decor/tiroler/decordoek%20groot/decordoek-winterlandschap-bergen-ares-ski.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

img{
    height: 150px;
    width: 120px;
}

main{
     height: 100%;

     margin: 0;


 }

.container{
    margin-left: 120px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;

}

.cell img{
    padding:10px;
}

th,tr,td,table{
    border:1px solid black;
}

table{
    color:white;
    margin-left: 10vh;


}

.button a{
    display: block;
    height: 50px;
    width: 200px;
    background: #00b7ea;
    margin-left: 10vh;
    margin-top: 3vh;

    color: white;
    font: 17px/50px Helvetica, Verdana, sans-serif;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
}


